.c-sidebar.c-sidebar-dark.c-sidebar-fixed.c-sidebar-lg-show#sidebar
  .c-sidebar-brand
    img.c-sidebar-brand-full(src="assets/brand/coreui-pro-base-white.svg" width="118" height="46" alt="CoreUI Logo")
    img.c-sidebar-brand-minimized(src="assets/brand/coreui-signet-white.svg" width="118" height="46" alt="CoreUI Logo")
  ul.c-sidebar-nav(data-drodpown-accordion="true")
    li.c-sidebar-nav-item
      a.c-sidebar-nav-link(href=ajax ? 'main.html' : 'index.html')
        svg.c-sidebar-nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-speedometer")
        |  Dashboard
        span.badge.badge-info NEW
    li.c-sidebar-nav-title
      | Theme
    li.c-sidebar-nav-item
      a.c-sidebar-nav-link(href='colors.html')
        svg.c-sidebar-nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-drop1")
        |  Colors
    li.c-sidebar-nav-item
      a.c-sidebar-nav-link(href='typography.html')
          svg.c-sidebar-nav-icon
            use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-pencil")
          |  Typography
    li.c-sidebar-nav-title
      | Components
    li.c-sidebar-nav-dropdown
      a.c-sidebar-nav-dropdown-toggle(href='#')
        svg.c-sidebar-nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-puzzle")
        |  Base
      ul.c-sidebar-nav-dropdown-items
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='base/breadcrumb.html')
            |  Breadcrumb
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='base/cards.html')
            |  Cards
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='base/carousel.html')
            |  Carousel
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='base/collapse.html')
            |  Collapse
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='base/jumbotron.html')
            |  Jumbotron
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='base/list-group.html')
            |  List group
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='base/navs.html')
            |  Navs
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='base/pagination.html')
            |  Pagination
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='base/popovers.html')
            |  Popovers
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='base/progress.html')
            |  Progress
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='base/scrollspy.html')
            |  Scrollspy
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='base/switches.html')
            |  Switches
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='base/tabs.html')
            |  Tabs
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='base/tooltips.html')
            |  Tooltips
    li.c-sidebar-nav-dropdown
      a.c-sidebar-nav-dropdown-toggle(href='#')
        svg.c-sidebar-nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-cursor")
        |  Buttons
      ul.c-sidebar-nav-dropdown-items
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='buttons/buttons.html')
            |  Buttons
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='buttons/brand-buttons.html')
            |  Brand Buttons
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='buttons/button-group.html')
            |  Buttons Group
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='buttons/dropdowns.html')
            |  Dropdowns
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='buttons/loading-buttons.html')
            |  Loading Buttons
            span.badge.badge-danger PRO
    li.c-sidebar-nav-item
      a.c-sidebar-nav-link(href='charts.html')
        svg.c-sidebar-nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-chart-pie")
        |  Charts
    li.c-sidebar-nav-dropdown
      a.c-sidebar-nav-dropdown-toggle(href='#')
        svg.c-sidebar-nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-code")
        |  Editors
      ul.c-sidebar-nav-dropdown-items
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='editors/code-editor.html')
            svg.c-sidebar-nav-icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-notes")
            |  Code Editor
            span.badge.badge-danger PRO
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='editors/markdown-editor.html')
            svg.c-sidebar-nav-icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-code")
            |  Markdown
            span.badge.badge-danger PRO
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='editors/text-editor.html')
            svg.c-sidebar-nav-icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-notes")
            |  Rich Text Editor
            span.badge.badge-danger PRO
    li.c-sidebar-nav-dropdown
      a.c-sidebar-nav-dropdown-toggle(href='#')
        svg.c-sidebar-nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-notes")
        |  Forms
      ul.c-sidebar-nav-dropdown-items
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='forms/basic-forms.html')
            |  Basic Forms
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='forms/advanced-forms.html')
            |  Advanced
            span.badge.badge-danger PRO
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='forms/validation.html')
            |  Validation
            span.badge.badge-danger PRO
    li.c-sidebar-nav-item
      a.c-sidebar-nav-link(href='google-maps.html')
        svg.c-sidebar-nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-map")
        |  Google Maps
        span.badge.badge-danger PRO
    li.c-sidebar-nav-dropdown
      a.c-sidebar-nav-dropdown-toggle(href='#')
        svg.c-sidebar-nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-star")
        |  Icons
      ul.c-sidebar-nav-dropdown-items
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='icons/coreui-icons-free.html')
            |  CoreUI Icons
            span.badge.badge-success Free
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='icons/coreui-icons-brand.html')
            |  CoreUI Icons - Brand
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='icons/coreui-icons-flag.html')
            |  CoreUI Icons - Flag
    li.c-sidebar-nav-dropdown
      a.c-sidebar-nav-dropdown-toggle(href='#')
        svg.c-sidebar-nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-bell")
        |  Notifications
      ul.c-sidebar-nav-dropdown-items
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='notifications/alerts.html')
            |  Alerts
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='notifications/badge.html')
            |  Badge
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='notifications/modals.html')
            |  Modals
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='notifications/toastr.html')
            |  Toastr
            span.badge.badge-danger PRO
    li.c-sidebar-nav-dropdown
      a.c-sidebar-nav-dropdown-toggle(href='#')
        svg.c-sidebar-nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-bolt")
        |  Plugins
      ul.c-sidebar-nav-dropdown-items
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='plugins/calendar.html')
            svg.c-sidebar-nav-icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-calendar")
            |  Calendar
            span.badge.badge-danger PRO
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='plugins/draggable-cards.html')
            svg.c-sidebar-nav-icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-cursor-move")
            |  Draggable
            span.badge.badge-danger PRO
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='plugins/spinners.html')
            svg.c-sidebar-nav-icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-sync")
            |  Spinners
            span.badge.badge-danger PRO
    li.c-sidebar-nav-dropdown
      a.c-sidebar-nav-dropdown-toggle(href='#')
        svg.c-sidebar-nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-columns")
        |  Tables
      ul.c-sidebar-nav-dropdown-items
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='tables/tables.html')
            |  Standard Tables
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href='tables/datatables.html')
            |  DataTables
            span.badge.badge-danger PRO
    li.c-sidebar-nav-item
      a.c-sidebar-nav-link(href='widgets.html')
        svg.c-sidebar-nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-calculator")
        |  Widgets
        span.badge.badge-info NEW
    li.c-sidebar-nav-divider
    li.c-sidebar-nav-title
      | Extras
    li.c-sidebar-nav-dropdown
      a.c-sidebar-nav-dropdown-toggle(href='#')
        svg.c-sidebar-nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-star")
        |  Pages
      ul.c-sidebar-nav-dropdown-items
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href=ajax ? 'login.html' : 'login.html' target="_top")
            svg.c-sidebar-nav-icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-account-logout")
            |  Login
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href=ajax ? 'register.html' : 'register.html' target="_top")
            svg.c-sidebar-nav-icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-account-logout")
            |  Register
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href=ajax ? '404.html' : '404.html' target="_top")
            svg.c-sidebar-nav-icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-bug")
            |  Error 404
        li.c-sidebar-nav-item
          a.c-sidebar-nav-link(href=ajax ? '500.html' : '500.html' target="_top")
            svg.c-sidebar-nav-icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-bug")
            |  Error 500
    li.c-sidebar-nav-dropdown
      a.c-sidebar-nav-dropdown-toggle(href='#')
        svg.c-sidebar-nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-layers")
        |  Apps
      ul.c-sidebar-nav-dropdown-items
        li.c-sidebar-nav-dropdown
          a.c-sidebar-nav-dropdown-toggle(href='#')
            svg.c-sidebar-nav-icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-description")
            |  Invoicing
          ul.c-sidebar-nav-dropdown-items
            li.c-sidebar-nav-item
              a.c-sidebar-nav-link(href='apps/invoicing/invoice.html')
                |  Invoice
                span.badge.badge-danger PRO
        li.c-sidebar-nav-dropdown
          a.c-sidebar-nav-dropdown-toggle(href='#')
            svg.c-sidebar-nav-icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-envelope-open")
            |  Email
          ul.c-sidebar-nav-dropdown-items
            li.c-sidebar-nav-item
              a.c-sidebar-nav-link(href='apps/email/inbox.html')
                |  Inbox
                span.badge.badge-danger PRO
            li.c-sidebar-nav-item
              a.c-sidebar-nav-link(href='apps/email/message.html')
                |  Message
                span.badge.badge-danger PRO
            li.c-sidebar-nav-item
              a.c-sidebar-nav-link(href='apps/email/compose.html')
                |  Compose
                span.badge.badge-danger PRO
    li.c-sidebar-nav-divider
    li.c-sidebar-nav-title
      | Labels
    li.c-sidebar-nav-item.c-d-compact-none.c-d-minimized-none
      a.c-sidebar-nav-label(href='#')
        svg.c-sidebar-nav-icon.text-danger
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-bookmark")
        |  Label danger
    li.c-sidebar-nav-item.c-d-compact-none.c-d-minimized-none
      a.c-sidebar-nav-label(href='#')
        svg.c-sidebar-nav-icon.text-info
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-bookmark")
        |  Label info
    li.c-sidebar-nav-item.c-d-compact-none.c-d-minimized-none
      a.c-sidebar-nav-label(href='#')
        svg.c-sidebar-nav-icon.text-warning
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-bookmark")
        |  Label warning
    li.c-sidebar-nav-divider
    li.c-sidebar-nav-title
      | System Utilization
    li.c-sidebar-nav-item.px-3.c-d-compact-none.c-d-minimized-none
      .text-uppercase.mb-1
        small
          b CPU Usage
      .progress.progress-xs
        .progress-bar.bg-info(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
      small.text-muted 348 Processes. 1/4 Cores.
    li.c-sidebar-nav-item.px-3.c-d-compact-none.c-d-minimized-none
      .text-uppercase.mb-1
        small
          b Memory Usage
      .progress.progress-xs
        .progress-bar.bg-warning(role='progressbar', style='width: 70%', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100')
      small.text-muted 11444GB/16384MB
    li.c-sidebar-nav-item.px-3.mb-3.c-d-compact-none.c-d-minimized-none
      .text-uppercase.mb-1
        small
          b SSD 1 Usage
      .progress.progress-xs
        .progress-bar.bg-danger(role='progressbar', style='width: 95%', aria-valuenow='95', aria-valuemin='0', aria-valuemax='100')
      small.text-muted 243GB/256GB
  button.c-sidebar-minimizer.c-class-toggler(type="button" data-target="_parent" data-class="c-sidebar-unfoldable")

