{% extends "layout.default.tpl.twig" %}

{% block layout_body %}
    {% import "generic.forms.macro.tpl.twig" as forms %}

    <body class="login">
    <!-- Logo -->
    <div class="logo">
        <img src="assets/img/logo.png" alt="logo"/>
        <strong>TS</strong>INTERFACE
    </div>
    <!-- /Logo -->

    <!-- Login Box -->
    <div class="box">
        <div class="content">
            <!-- Login Formular -->
            <form class="form-vertical login-form" action="" method="post">
                <!-- Title -->
                <h3 class="form-title">
                    {% trans %}
                    Sign In to your Account
                    {% endtrans %}
                </h3>

                <!-- Error Message -->
                <div class="alert fade in alert-danger" style="display: none;">
                    <i class="icon-remove close" data-dismiss="alert"></i>
                    {% trans %}
                        Please enter your username and password.
                    {% endtrans %}
                </div>

                {{ forms.input_with_form_group("username", "text", "username", "Username", "icon-user", "", "true", "Please enter your username.") }}
                {{ forms.input_with_form_group("password", "password", "password", "Password", "icon-lock", "", "true", "Please enter your password.") }}

                <!-- Form Actions -->
                <div class="form-actions">
                    <label class="checkbox pull-left"><input type="checkbox" class="uniform" name="remember">
                        {% trans %}Remember me{% endtrans %}
                    </label>
                    <button type="submit" class="submit btn btn-primary pull-right">
                        {% trans %}Sign In{% endtrans %} <i class="icon-angle-right"></i>
                    </button>
                </div>
            </form>
            <!-- /Login Formular -->

            <!-- Register Formular (hidden by default) -->
            <form class="form-vertical register-form" action="index.html" method="post" style="display: none;">
                <!-- Title -->
                <h3 class="form-title">{% trans %}Sign Up for Free{% endtrans %}</h3>

                {{ forms.input_with_form_group("register_username", "text", "username", "Username", "icon-user", "", "true", "Please enter a valid username.") }}
                {{ forms.input_password_confirm_with_form_group("register_password", "password", "Password", "icon-lock") }}

                {{ forms.input_with_form_group("register_email", "text", "email", "Email address", "icon-envelope", "", "true", "Please enter your Email address.", "", "true") }}

                <div class="form-group spacing-top">
                    <label class="checkbox"><input type="checkbox" class="uniform" id="remember" name="remember"
                                                   data-rule-required="true"
                                                   data-msg-required="{% trans %}Please accept Terms first.{% endtrans %}">
                        {% trans %}I agree to the <a href="javascript:void(0)">Terms of Service</a>{% endtrans %}</label>
                    <label for="remember" class="has-error help-block" generated="true" style="display:none;"></label>
                </div>
                <!-- /Input Fields -->

                <!-- Form Actions -->
                <div class="form-actions">
                    <button type="button" class="back btn btn-default pull-left">
                        <i class="icon-angle-left"></i> {% trans %}Back{% endtrans %}</i>
                    </button>
                    <button type="submit" class="submit btn btn-primary pull-right">
                        {% trans %}Sign Up{% endtrans %} <i class="icon-angle-right"></i>
                    </button>
                </div>
            </form>
            <!-- /Register Formular -->
        </div> <!-- /.content -->

        <!-- Forgot Password Form -->
        <div class="inner-box">
            <div class="content">
                <!-- Close Button -->
                <i class="icon-remove close hide-default"></i>

                <!-- Link as Toggle Button -->
                <a href="#" class="forgot-password-link">{% trans %}Forgot Password?{% endtrans %}</a>

                <!-- Forgot Password Formular -->
                <form class="form-vertical forgot-password-form hide-default" action="login.html" method="post">
                    <!-- Input Fields -->
                    <div class="form-group">
                        <!--<label for="email">Email:</label>-->
                        <div class="input-icon">
                            <i class="icon-envelope"></i>
                            <input type="text" name="email" class="form-control" placeholder="{% trans %}Enter email address{% endtrans %}"
                                   data-rule-required="true" data-rule-email="true"
                                   data-msg-required="{% trans %}Please enter your email.{% endtrans %}"/>
                        </div>
                    </div>
                    <!-- /Input Fields -->

                    <button type="submit" class="submit btn btn-default btn-block">
                        {% trans %}Reset your Password{% endtrans %}
                    </button>
                </form>
                <!-- /Forgot Password Formular -->

                <!-- Shows up if reset-button was clicked -->
                <div class="forgot-password-done hide-default">
                    <i class="icon-ok success-icon"></i>
                    <!-- Error-Alternative: <i class="icon-remove danger-icon"></i> -->
                    <span>{% trans %}Great. We have sent you an email.{% endtrans %}</span>
                </div>
            </div> <!-- /.content -->
        </div>
        <!-- /Forgot Password Form -->
    </div>
    <!-- /Login Box -->

    <!-- Footer -->
    <div class="footer">
        <a href="#" class="sign-up">{% trans %}Don't have an account yet?{% endtrans %} <strong>{% trans %}Sign Up{% endtrans %}</strong></a>
    </div>

    {% block layout_js %}
        {# block layout_js #}
        {% include "layout.default.js.tpl.twig" %}
    {% endblock layout_js %}

    </body>
{% endblock layout_body %}