{#
@macro responsive
@param table_data array
 #}
{% macro responsive(table_data=[]) %}
    <div class="row">
        <div class="col-md-12">
            <div class="widget box">
                <div class="widget-header">
                    {% if(table_data.heading is defined) %}
                        <h4>
                            {% if(table_data.heading.icon is defined) %}
                                <i class="{{ table_data.heading.icon }}"></i>
                            {% endif %}
                            {% if(table_data.heading.text is defined) %}
                                {{ table_data.heading.text|trans }}
                            {% endif %}
                        </h4>
                    {% endif %}
                    {% if(table_data.toolbar is defined) %}
                        {% if(table_data.toolbar != false) %}
                            <div class="toolbar no-padding">
                                <div class="btn-group">
                                    {% if(table_data.toolbar.collapse is defined) %}
                                        {% if(table_data.toolbar.collapse != false) %}
                                            <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                                        {% endif %}
                                    {% endif %}
                                    {% if(table_data.toolbar.refresh is defined) %}
                                        {% if(table_data.toolbar.refresh != false) %}
                                            <span class="btn btn-xs widget-refresh"><i class="icon-refresh"></i></span>
                                        {% endif %}
                                    {% endif %}
                                    {% if(table_data.toolbar.add is defined) %}
                                        {% if(table_data.toolbar.add != false) %}
                                            <a href="{{ table_data.toolbar.add }}" class="btn btn-xs">
                                                <i class="icon-plus"></i> {% trans %}Add{% endtrans %}
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                    {% if(table_data.toolbar.manage is defined) %}
                                        {% if(table_data.toolbar.manage != false) %}
                                            <span class="btn btn-xs dropdown-toggle" data-toggle="dropdown">
                                                Manage <i class="icon-angle-down"></i>
                                            </span>
                                            <ul class="dropdown-menu pull-right">
                                                <li><a href="#"><i class="icon-trash"></i> {% trans %}Delete{% endtrans %}</a></li>
                                            </ul>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="widget-content no-padding">
                    <table class="table table-striped table-bordered table-hover table-checkable table-responsive datatable">
                        {% if(table_data.thead is defined) %}
                            <thead>
                            <tr>
                                {% for item in table_data.thead %}
                                    {% if(item.checkbox is defined) %}
                                        {% if(item.checkbox != false) %}
                                            <th class="checkbox-column">
                                                <label>
                                                    <input class="uniform" type="checkbox">
                                                </label>
                                            </th>
                                        {% endif %}
                                    {% elseif(item.title != false) %}
                                        <th
                                            {% if(item.expand is defined) %}data-class="expand"{% endif %}
                                            {% if(item.hide is defined) %}data-hide="{{ item.hide }}"{% endif %}
                                        >
                                            {{ item.title|trans }}
                                        </th>
                                    {% endif %}
                                {% endfor %}
                                {% if(table_data.buttons is defined) %}
                                    {% if(table_data.buttons != false) %}
                                        <th>
                                            {% trans %}Actions{% endtrans %}
                                        </th>
                                    {% endif %}
                                {% endif %}
                            </tr>
                            </thead>
                        {% endif %}
                        {% if(table_data.tbody is defined) %}
                            <tbody>
                                {% for tr in table_data.tbody %}
                                    <tr>
                                        {% for td in tr %}
                                            {% if(td.checkbox is defined) %}
                                                {% if(td.checkbox != false) %}
                                                <td class="checkbox-column">
                                                    <label>
                                                        <input type="checkbox" class="uniform" {% if(td.checkbox != "checkbox") %}value="{{ td.checkbox }}{% endif %}">
                                                    </label>
                                                </td>
                                                {% endif %}
                                            {% elseif(td.label is defined) %}
                                                {#
                                                    info
                                                    success
                                                    warning
                                                    danger
                                                #}
                                                <td>
                                                    <span class="label label-{{ td.label }}">
                                                        {% if(td.content != false) %}
                                                            {{ td.content|trans }}
                                                        {% endif %}
                                                    </span>
                                                </td>
                                            {% elseif(td.content is defined) %}
                                                <td>
                                                    {{ td.content|trans }}
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                        {% if(tr.buttons is defined) %}
                                            {% if(tr.buttons != false) %}
                                                <td class="align-center">
                                                    <ul class="table-controls">
                                                        {% if(tr.buttons.edit is defined) %}
                                                            {% if(tr.buttons.edit != false) %}
                                                                <li><a href="{{ tr.buttons.edit }}" class="bs-tooltip" title="Edit" data-original-title="Edit"><i class="icon-pencil"></i></a> </li>
                                                            {% endif %}
                                                        {% endif %}
                                                        {% if(tr.buttons.delete is defined) %}
                                                            {% if(tr.buttons.delete != false) %}
                                                                <li><a href="{{ tr.buttons.delete }}" class="bs-tooltip" title="Delete" data-original-title="Delete"><i class="icon-trash"></i></a> </li>
                                                            {% endif %}
                                                        {% endif %}
                                                    </ul>
                                                </td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}