{#
@macro with_tooltip
@param string string
@param tooltip string
@param position string
@example
{{ macro.with_tooltip("Text", "Tooltip", "left/top/right/bottom") }}
#}
{% macro with_tooltip(string, tooltip, position="top") %}
    <button class="btn bs-tooltip" data-placement="{{ position|lower }}" data-original-title="{{ tooltip|trans }}">{{ string|trans }}</button>
{% endmacro %}

{#
@macro with_popover
@param string string
@param popover_content string
@param popover_title string
@param position string
@example
{{ macro.with_popover("Text", "Popover Content", "Popover Title", "left/top/right/bottom") }}
#}
{% macro with_popover(string, popover_content, popover_title, position="top") %}
    <button class="btn bs-popover" data-trigger="hover" data-placement="{{ position|lower }}" data-content="{{ popover_content|trans }}" data-original-title="{{ popover_title|trans }}">{{ string|trans }}</button>
{% endmacro %}