<!-- input_with_form_group -->
{% macro input_with_form_group(id, type = "text", name, placeholder, icon, label, data_rule_required="true", data_msg_required="This field is a required field!", data_rule_equalTo, data_rule_email, class="form-control", autofocus="autofocus") %}
    <div class="form-group">
        {% if label != false %}
            <label for="{{ id }}">{{ label }}:</label>
        {% endif %}
        <div class="input-icon">
            {% if icon != false %}
                <i class="{{ icon }}"></i>
            {% endif %}
            <input id="{{ id }}" type="{{ type }}" name="{{ name }}" placeholder="{% trans placeholder %}" class="{{ class }}" autofocus="{{ autofocus }}" data-rule-required="{{ data_rule_required }}" {% if data_rule_equalTo != false %}data-rule-equalTo="#{{ data_rule_equalTo }}"{% endif %} {% if data_rule_required != false %}data-msg-required="{% trans data_msg_required %}"{% endif %} {% if data_rule_email != false %}data-rule-email="{{ data_rule_email }}"{% endif %}/>
        </div>
    </div>
{% endmacro %}

<!-- input_text_with_form_group -->
{% macro input_text_with_form_group(id, name, placeholder, icon, label, data_rule_required="true", data_msg_required="This field is a required field!", class="form-control", autofocus="autofocus") %}
    <div class="form-group">
        {% if label != false %}
            <label for="{{ id }}">{{ label }}:</label>
        {% endif %}
        <div class="input-icon">
            {% if icon != false %}
                <i class="{{ icon }}"></i>
            {% endif %}
            <input id="{{ id }}" type="text" name="{{ name }}" placeholder="{% trans placeholder %}" class="{{ class }}" autofocus="{{ autofocus }}" data-rule-required="{{ data_rule_required }}" {% if data_rule_required != false %}data-msg-required="{% trans data_msg_required %}"{% endif %}/>
        </div>
    </div>
{% endmacro %}

<!-- input_password_confirm_with_form_group -->
{% macro input_password_confirm_with_form_group(id, name, placeholder, icon, label, data_rule_required="true", class="form-control", autofocus="autofocus") %}
    <div class="form-group">
        {% if label != false %}
            <label for="{{ id }}">{{ label }}:</label>
        {% endif %}
        <div class="input-icon">
            {% if icon != false %}
                <i class="{{ icon }}"></i>
            {% endif %}
            <input {% if id != false %}id="{{ id }}"{% endif %} type="password" name="{{ name }}" placeholder="{% trans placeholder %}" class="{{ class }}" autofocus="{{ autofocus }}" data-rule-required="{{ data_rule_required }}" {% if data_rule_required != false %}data-msg-required="{% trans "Please enter a valid password." %}"{% endif %}/>
        </div>
    </div>
    <div class="form-group">
        {% if label != false %}
            <label for="confirm_{{ id }}">{{ label }}:</label>
        {% endif %}
        <div class="input-icon">
            {% if icon != false %}
                <i class="icon-ok"></i>
            {% endif %}
            <input {% if id != false %}id="confirm_{{ id }}"{% endif %} type="password" name="confirm_{{ name }}" placeholder="{% trans placeholder %}" class="{{ class }}" autofocus="{{ autofocus }}" data-rule-required="{{ data_rule_required }}" data-rule-equalTo="#{{ id }}" {% if data_rule_required != false %}data-msg-required="{% trans "Please confirm your password." %}"{% endif %}/>
        </div>
    </div>
{% endmacro %}