{#
@macro nav_sidebar
@param navigation_routes array
 #}
{% macro sidebar(navigation_routes=[]) %}
    <ul id="nav">
        {% if navigation_routes.sidebar is defined %}
            {% if(navigation_routes.sidebar != false) %}
                {% for key, item in navigation_routes.sidebar %}
                    <li {% if(item.active != false) %}class="current open"{% endif %}
                        {% if(item.options.hidden != false) %}style="display: none;"{% endif %}
                    >
                        <a href="{% if(item.options.href != false) %}{{ item.options.href }}{% endif %}"
                           title="{% if(item.options.title != false) %}{{ item.options.title|trans }}{% endif %}"
                        >
                            {% if(item.options.icon != false) %}
                                <i class="{{ item.options.icon }}"></i>
                            {% endif %}
                            {% if(item.options.text != false) %}
                                {{ item.options.text|trans }}
                            {% endif %}
                        </a>
                        {% if(item.routes is defined) %}
                            {% if(item.routes != false) %}
                                <ul class="sub-menu">
                                    {% for route in item.routes %}
                                        <li {% if(route.active != false) %}class="current"{% endif %}
                                            {% if(route.options.hidden != false) %}style="display: none;"{% endif %}
                                        >
                                            <a href="{% if(route.options.href != false) %}{{ route.options.href }}{% endif %}"
                                               title="{% if(route.options.title != false) %}{{ route.options.title|trans }}{% endif %}"
                                            >
                                                {% if(route.options.icon != false) %}
                                                    <i class="{{ route.options.icon }}"></i>
                                                {% endif %}
                                                {% if(route.options.text != false) %}
                                                    {{ route.options.text|trans }}
                                                {% endif %}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
            {% endif %}
        {% endif %}
    </ul>
{% endmacro %}

{#
@macro top_left
@param navigation_routes array
 #}
{% macro top_left(navigation_routes=[]) %}
    <ul class="nav navbar-nav navbar-left hidden-xs hidden-sm">
        {% if navigation_routes.top_left is defined %}
            {% if navigation_routes.top_left != false %}
                {% for item in navigation_routes.top_left %}
                    <li class="dropdown">
                        <a href="{% if(item.options.href != false) %}{{ item.options.href }}{% endif %}"
                           title="{% if(item.options.title != false) %}{{ item.options.title|trans }}{% endif %}"
                           class="dropdown-toggle" data-toggle="dropdown"
                        >
                            {% if(item.options.text != false) %}
                                {{ item.options.text|trans }}
                            {% endif %}
                             <i class="icon-caret-down small"></i>
                        </a>
                        {% if(item.routes != false) %}
                            <ul class="dropdown-menu">
                                {% for route in item.routes %}
                                    <li>
                                        <a href="{% if(route.options.href != false) %}{{ route.options.href }}{% endif %}"
                                           title="{% if(route.options.title != false) %}{{ route.options.title|trans }}{% endif %}"
                                        >
                                            {% if(route.options.icon != false) %}
                                                <i class="{{ route.options.icon }}"></i>
                                            {% endif %}
                                            {% if(route.options.text != false) %}
                                                {{ route.options.text|trans }}
                                            {% endif %}
                                        </a>
                                    </li>
                                    <!--<li class="divider"></li>-->
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endif %}
        {% endif %}
    </ul>
{% endmacro %}

{#
@macro top_right
@param navigation_routes array
 #}
{% macro top_right(navigation_routes=[]) %}
    <ul class="nav navbar-nav navbar-right">
        {% if navigation_routes.top_right is defined %}
            {% if navigation_routes.top_right != false %}
                {% for item in navigation_routes.top_right %}
                    <li class="dropdown {% if(item.options.class != false) %}{{ item.options.class }}{% endif %}">
                        <a href="{% if(item.options.href != false) %}{{ item.options.href }}{% endif %}"
                           title="{% if(item.options.title != false) %}{{ item.options.title|trans }}{% endif %}"
                           class="dropdown-toggle" data-toggle="dropdown"
                        >
                            {% if(item.options.class is defined) %}
                                {% if(item.options.class == "user") %}
                                    <span class="username">
                                {% endif %}
                            {% endif %}
                            {% if(item.options.text != false) %}
                                {{ item.options.text|trans }}
                            {% endif %}
                            {% if(item.options.class is defined) %}
                                {% if(item.options.class == "user") %}
                                    </span>
                                {% endif %}
                            {% endif %}
                            <i class="icon-caret-down small"></i>
                        </a>
                        {% if(item.routes != false) %}
                            <ul class="dropdown-menu">
                                {% for route in item.routes %}
                                    <li>
                                        <a href="{% if(route.options.href != false) %}{{ route.options.href }}{% endif %}"
                                           title="{% if(route.options.title != false) %}{{ route.options.title|trans }}{% endif %}"
                                        >
                                            {% if(route.options.icon != false) %}
                                                <i class="{{ route.options.icon }}"></i>
                                            {% endif %}
                                            {% if(route.options.text != false) %}
                                                {{ route.options.text|trans }}
                                            {% endif %}
                                        </a>
                                    </li>
                                    <!--<li class="divider"></li>-->
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endif %}
        {% endif %}
    </ul>
{% endmacro %}