{#
@macro nav_sidebar
@param navigation_routes array
 #}
{% macro sidebar(navigation_routes=[]) %}
    <ul class="c-sidebar-nav" data-drodpown-accordion="true">
        {% if navigation_routes.sidebar is defined %}
            {% if(navigation_routes.sidebar != false) %}
                {% for key, item in navigation_routes.sidebar %}
                    <li class="{% if(item.routes is defined) %}{% if(item.routes != false) %}c-sidebar-nav-dropdown {% if(item.active != false) %}c-show{% endif %}{% else %}c-sidebar-nav-item{% endif %}{% else %}c-sidebar-nav-item{% endif %}"
                        {% if(item.options.hidden != false) %}style="display: none;"{% endif %}
                    >
                        <a href="{% if(item.options.href != false) %}{{ item.options.href }}{% endif %}"
                           title="{% if(item.options.title != false) %}{{ item.options.title|trans }}{% endif %}"
                           class="{% if(item.routes is defined) %}{% if(item.routes != false) %}c-sidebar-nav-dropdown-toggle{% else %}c-sidebar-nav-link {% if(item.active != false) %}c-active{% endif %}{% endif %}{% else %}c-sidebar-nav-link {% if(item.active != false) %}c-active{% endif %}{% endif %}"
                        >
                            {% if(item.options.icon != false) %}
                                <svg class="c-sidebar-nav-icon">
                                    <use xlink:href="assets/vendors/@coreui/icons/svg/free.svg#{{ item.options.icon }}"/>
                                </svg>
                            {% endif %}
                            {% if(item.options.text != false) %}
                                {{ item.options.text|trans }}
                            {% endif %}
                        </a>
                        {% if(item.routes is defined) %}
                            {% if(item.routes != false) %}
                                <ul class="c-sidebar-nav-dropdown-items">
                                    {% for route in item.routes %}
                                        <li class="c-sidebar-nav-item"
                                            {% if(route.options.hidden != false) %}style="display: none;"{% endif %}
                                        >
                                            <a href="{% if(route.options.href != false) %}{{ route.options.href }}{% endif %}"
                                               title="{% if(route.options.title != false) %}{{ route.options.title|trans }}{% endif %}"
                                               class="c-sidebar-nav-link  {% if(route.active != false) %}c-active{% endif %}"
                                            >
                                                {% if(route.options.icon != false) %}
                                                    <svg class="c-sidebar-nav-icon">
                                                        <use xlink:href="assets/vendors/@coreui/icons/svg/free.svg#{{ route.options.icon }}"/>
                                                    </svg>
                                                {% endif %}
                                                {% if(route.options.text != false) %}
                                                    {{ route.options.text|trans }}
                                                {% endif %}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
            {% endif %}
        {% endif %}
    </ul>
{% endmacro %}

{#
@macro top_left
@param navigation_routes array
 #}
{% macro top_left(navigation_routes=[]) %}
    <ul class="c-header-nav d-md-down-none">
        {% if navigation_routes.top_left is defined %}
            {% if navigation_routes.top_left != false %}
                {% for item in navigation_routes.top_left %}
                    <li class="c-header-nav-item px-3">
                        <a href="{% if(item.options.href is defined) %}{% if(item.options.href != false) %}{{ item.options.href }}{% endif %}{% endif %}"
                           title="{% if(item.options.title is defined) %}{% if(item.options.title != false) %}{{ item.options.title|trans }}{% endif %}{% endif %}"
                           class="c-header-nav-link"
                        >
                            {% if(item.options.text is defined) %}
                                {% if(item.options.text != false) %}
                                    {{ item.options.text|trans }}
                                {% endif %}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        {% endif %}
    </ul>
{% endmacro %}

{#
@macro top_right
@param navigation_routes array
 #}
{% macro top_right_user(navigation_routes=[]) %}

    {% if navigation_routes.top_right_user is defined %}
        {% if navigation_routes.top_right_user != false %}
            {% if navigation_routes.top_right_user.avatar is defined %}
                {% if navigation_routes.top_right_user.avatar != false %}
                    <li class="c-header-nav-item dropdown">
                        <a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <div class="c-avatar">
                                <img class="c-avatar-img" src="{{ navigation_routes.top_right_user.avatar|raw }}" alt="">
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right pt-0">
                            <div class="dropdown-header bg-light py-2">
                                <strong>Settings</strong>
                            </div>
                            <a class="dropdown-item" href="index.php?controller=restricted&action=profile">
                                <svg class="c-icon mfe-2">
                                    <use xlink:href="assets/vendors/@coreui/icons/svg/free.svg#cil-user"/>
                                </svg>
                                Profile
                            </a>
                            <a class="dropdown-item" href="{# todo #}">
                                <svg class="c-icon mfe-2">
                                    <use xlink:href="assets/vendors/@coreui/icons/svg/free.svg#cil-settings"/>
                                </svg>
                                Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{# todo #}">
                                <svg class="c-icon mfe-2">
                                    <use xlink:href="assets/vendors/@coreui/icons/svg/free.svg#cil-lock-locked"/>
                                </svg>
                                Lock Account</a>
                            <a class="dropdown-item" href="index.php?controller=restrictedInvoke&action=signOut">
                                <svg class="c-icon mfe-2">
                                    <use xlink:href="assets/vendors/@coreui/icons/svg/free.svg#cil-account-logout"/>
                                </svg>
                                Logout
                            </a>
                        </div>
                    </li>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}

{#
@macro crump_bar
@param navigation_routes array
 #}
{% macro crump_bar(navigation_routes=[]) %}
    <div class="c-header-nav d-md-down-none mfe-2">
        {% if navigation_routes.crump_bar is defined %}
            {% if navigation_routes.crump_bar != false %}
                {% for item in navigation_routes.crump_bar %}
                    <a href="{% if(item.options.href is defined) %}{% if(item.options.href != false) %}{{ item.options.href }}{% endif %}{% endif %}"
                       title="{% if(item.options.title is defined) %}{% if(item.options.title != false) %}{{ item.options.title|trans }}{% endif %}{% endif %}"
                       class="c-header-nav-link"
                    >
                        {% if(item.options.icon is defined) %}
                            {% if(item.options.icon != false) %}
                                <svg class="c-icon">
                                    <use xlink:href="assets/vendors/@coreui/icons/svg/free.svg#{{ item.options.icon }}"/>
                                </svg>
                            {% endif %}
                        {% endif %}
                        {% if(item.options.text is defined) %}
                            {% if(item.options.text != false) %}
                                &nbsp;{{ item.options.text|trans }}
                            {% endif %}
                        {% endif %}
                    </a>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
{% endmacro %}

{#
@macro breadcrumbs
@param breadcrumb_routes array
 #}
{% macro breadcrumbs(breadcrumb_routes=[]) %}
    {% if breadcrumb_routes != false %}
        <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
            {% for breadcrumb in breadcrumb_routes %}
                <li class="breadcrumb-item">
                    {% if(breadcrumb.icon is defined) %}
                        {% if(breadcrumb.icon != false) %}
                            <i class="{{ breadcrumb.icon }}"> </i>
                        {% endif %}
                    {% endif %}
                    {% if(breadcrumb.current is defined) %}
                        {% if(breadcrumb.current != false) %}
                            {% if(breadcrumb.text is defined) %}
                                {% if(breadcrumb.text != false) %}
                                    {{ breadcrumb.text|trans }}
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <a href="{% if(breadcrumb.href is defined) %}{% if(breadcrumb.href != false) %}{{ breadcrumb.href }}{% endif %}{% endif %}"
                               title="{% if(breadcrumb.title is defined) %}{% if(breadcrumb.title != false) %}{{ breadcrumb.title|trans }}{% endif %}{% endif %}"
                            >
                                {% if(breadcrumb.text is defined) %}
                                    {% if(breadcrumb.text != false) %}
                                        {{ breadcrumb.text|trans }}
                                    {% endif %}
                                {% endif %}
                            </a>
                        {% endif %}
                    {% else %}
                        <a href="{% if(breadcrumb.href is defined) %}{% if(breadcrumb.href != false) %}{{ breadcrumb.href }}{% endif %}{% endif %}"
                           title="{% if(breadcrumb.title is defined) %}{% if(breadcrumb.title != false) %}{{ breadcrumb.title|trans }}{% endif %}{% endif %}"
                        >
                            {% if(breadcrumb.text is defined) %}
                                {% if(breadcrumb.text != false) %}
                                    {{ breadcrumb.text|trans }}
                                {% endif %}
                            {% endif %}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    {% endif %}
{% endmacro breadcrumbs %}
